<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="motoroi.bision">

    <supports-screens
        android:normalScreens="true"
        android:largeScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="false"
        android:anyDensity="true"></supports-screens>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bision_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainView"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
</manifest>